@model IEnumerable<Inventory_M.Models.product.Product>



@{
    ViewData["Title"] = "Index";
}

<h2>PRODUCT LIST</h2>

<table style="width:100%;">

    <tr>
        <td style="width:80%;">
            <form asp-action="Index" method="post">
                <div class="form-group">

                    <label for="SearchString">Search by partial title:</label>
                    <input type="search" name="SearchString" value="@ViewData["CurrentFilter"]" />

                    <input type="submit" value="Search" class="btn btn-primary" />

                </div>
            </form>
        </td>
        <td style="text-align:center;">
            <a class="btn btn-success" data-toggle="modal" asp-action="Create">
                Create Now
            </a>

        </td>
    </tr>
</table>




@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong> Success !</strong>@TempData["AlertMessage"]

    </div>
}
<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recorder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brands)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recorder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brands.Brand_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categories.Category_Name)
                </td>


                <td style="text-align:center;">
                    <a asp-action="Edit" asp-route-id="@item.ProductId">
                        <span>
                            <i class="ace-icon fa fa-pencil bigger-120 btn btn-xs btn-info edit"></i>
                        </span>
                    </a>|

                    <a asp-action="Delete" asp-route-id="@item.ProductId">
                        <span>
                            <i class="ace-icon fa fa-trash-o bigger-120   btn btn-xs btn-danger delete"></i>
                        </span>
                    </a> |

                    <a asp-action="Details" asp-route-id="@item.ProductId">
                        <span>
                            <i class="fa fa-info-circle  bigger-120 " aria-hidden="true"></i>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
