@model Inventory_M.Models.stockin.StockIn

@{
    ViewData["Title"] = "create";
}



<ul class="nav nav-tabs">


    <li class="nav-item">
        <a asp-area="" asp-controller="StockIn" asp-action="Create">STOCK ENTRY</a>

    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="StockIn" asp-action="Index">STOCK IN HISTORY</a>

    </li>


</ul>

<h2> STOCK ENTRY</h2>
<div class="row">
    <div class="col-md-4">
        <form id="create-form form" asp-controller="StockIn" asp-action="create" data-ajax="true" data-ajax-method="POST" data-ajax-update="#savedValuesTable" data-ajax-loading="#loadingIndicator">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table  table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Reference" class="control-label"></label>
                                <input asp-for="Reference" class="form-control" />
                                <span asp-validation-for="Reference" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label asp-for="qtynew" class="control-label"></label>
                                <input asp-for="qtynew" class="form-control" />
                                <span asp-validation-for="qtynew" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </td>



                    </tr>

                    <tr>


                        <td colspan="2">
                            <div class="form-group">
                                <label asp-for="VendorId" class="control-label">Vendor Name</label>
                                <select asp-for="VendorId" class="form-control" asp-items="@(ViewBag.VendorList)"></select>
                            </div>
                        </td>



                        <td>
                            <div class="form-group">
                                <label asp-for="ProductId" class="control-label"> Product</label>
                                <select asp-for="ProductId" class="form-control" asp-items="@(ViewBag.ProductList)"></select>
                            </div>
                        </td>


                    </tr>


                    <tr>

                        <td>
                            <div class="form-group">
                                <label asp-for="stockeby" class="control-label"> Stock By </label>
                                <input asp-for="stockeby" class="form-control" />
                                <span asp-validation-for="stockeby" class="text-danger"></span>
                            </div>
                        </td>


                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="form-group">

                                <input type="submit" value="INSERT" class="btn btn-default" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="col-md-8 table-responsive">
        <h4>STOCK ENTRY LIST </h4>
        <table id="savedValuesTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr> </tr>
                <tr>
                    <th>Reference</th>
                    <th>Quantite</th>
                    <th>Date</th>
                    <th>stockeby</th>
                    <th>VendorId</th>
                    <th>ProductId</th>
                </tr>
            </thead>
            <tbody>
                <!-- Saved values will be added here dynamically -->


                <tr>
                    <td>@Html.DisplayFor(model => model.Reference)</td>
                    <td>@Html.DisplayFor(model => model.qtynew)</td>
                    <td>@Html.DisplayFor(model => model.Date)</td>
                    <td>@Html.DisplayFor(model => model.stockeby)</td>
                    <td>@Html.DisplayFor(model => model.VendorId)</td>
                    <td>@Html.DisplayFor(model => model.ProductId)</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>


        $(function () {
            // When the form is submitted
            $('form').submit(function (event) {
                // Get the values from the form fields
                event.preventDefault();
                var reference = $('#Reference').val();
                var quantite = $('#Quantite').val();
                var date = $('#Date').val();
                var stockeby = $('#stockeby').val();
                var vendorName = $('#VendorId option:selected').text();
                var productName = $('#ProductId option:selected').text();

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        // Ajouter la nouvelle ligne HTML au tableau saveValuesTable
                        $('#savedValuesTable tbody').append(data);
                    }
                });

                // Create a new table row with the values
                //var newRow = '<tr><td>' + reference + '</td><td>' + quantite + '</td><td>' + date + '</td><td>' + stockeby + '</td><td>' + vendorId + '</td><td>' + productId + '</td></tr>';
                var newRow = '<tr><td>' + reference + '</td><td>' + quantite + '</td><td>' + date + '</td><td>' + stockeby + '</td><td>' + vendorName + '</td><td>' + productName + '</td></tr>';
                // Add the new row to the table
                $('#savedValuesTable tbody').append(newRow);
            });
        });



    </script>
}



